/* ここから下に記載していく */
@charset "utf-8"
.wrap{
    max-width: 1366px;
    margin: auto;
}

/* Headerセクション */
.header{
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    /* height: 121px; */
    align-items: center;
    /* margin: 0 0 150px 0;; */
}

.logo-image{
    margin: 0 0 0 30px;
}

.nav-list{
    display: flex;
}

.nav-item{
    margin: 0 50px 0 0;
}

.nav-item>a{
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;   
}

/* メインビジュアル */
.mainvisual{
    position: relative;
    margin: 0 0 60px;
}


.mainvisual-text{
    position: absolute;
    font-size: 48px;
    font-weight: normal;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-100%,0);
}

/* Bodyセクション */
body{
    background: white;
    width: 1366px;
    color: ;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.columnname{
    margin: 0 0 0 35px;

}

.text-center{
    text-align: center;
}

/* mainセクション */
.main{
    margin: 20px auto;
}

textarea{
  margin: 0 3%;
  width: 95%;
  height: 300px;
  font-size:80%;
  box-shadow: 3px 3px 3px 3px #555;
  background-color:rgb(241, 239, 239);
}
#key{
    margin:0 3%;
    width: 95%;
    font-size:80%;
    background-color: #e1efff;
    box-shadow: 3px 3px 3px 3px #555;
}
table{
    margin: 20px 3%;
    border:1px solid #8dc3f5;
    width:96%;
    
}
th{
    width:30%;
    font-size:18px;
    background-color:#d0e7fc;
    border-bottom: 1px solid #8dc3f5;
}
td{
    font-size:14px;
    background-color:rgb(241, 239, 239);
    border-bottom: 1px solid #8dc3f5;
}


/* ボタン動作 */
.button_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.btn{
    display: block;
    width: 120px;
    margin: auto;
    padding: 21px 0;
    background-color:rgb(132, 165, 196);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
  background-color: whitesmoke;
  border-color: blue;
  color: blue;
}

.btn_clicked{
    font-weight: bold;
}




/* Footerセクション */

.footer{
    padding: 30px 0;
    background-color: #707070;
}

.copyrights{
    color: white;
}